<div class="container">
    <div class="row">
      <div class= ".col-md-6">

        <ul class="first-row">
          <li>
        <div id="main" role="main">

          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <span class="btn-span">Short Form</span>
           </div>
           </div>
          </div>
        </li>
          <li>
          <div id="main" role="main">

          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <span class="btn-span">Long Form</span>
           </div>
           </div>
          </div>
        </li>
      </ul>
      </div>

        <div class= ".col-md-6">
        <ul class="second-row">

        <li>
        <div id="main" role="main">
            <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <span class="btn-span">Custom</span>
           </div>
           </div>
          </div>
        </li>
          <ul>
          </div>
        </div>
      </div>