<h1> About Ghostwrite.io </h1>
<div class="about">  
<p>Ghostwrite.io generates templates for the messages that no one wants to write. Depending on your experience level, these templates can be used as they are, or as a jumping off point!</p>
<br>

<p>Custom messages are written personally by me - send them along!</p>
<br>

<p>This product is in development - please forward any feedback.</p> 
<br>

<h3>Contact me at <%= mail_to "alikfitz@gmail.com" %></h3>
</div>