<h1> About Ghostwrite.io </h1>
<div class="backend">  
Ghostwrite.io generates templates for the messages that no one wants to write. Depending on your experience level, these templates can be used as they are, or as a jumping off point!

Custom messages are written personally by me - send them along!

Contact me at <%= mail_to "alikfitz@gmail.com" %>
</div>