<h1> About Ghostwrite.io </h1>
<div class="about">  
<p>Ghostwrite.io generates templates for the messages that no one wants to write. Depending on your experience level, these templates can be used as they are, or as a jumping off point!</p>
<br>

<p>Custom messages are written personally by me - send them along!</p>
<br>

<p>I want to make communication easier for those who are not comfortable with their writing. Whether it's among friends, old or new, or streamlining the job application process. Enhancing both personal relationships as well as professional interactions for the modern person. Employees not Employers. Writing Well, Easier.</p>
<br>

<p>This product is in development - please forward any feedback.</p> 
<br>

<h3>Contact me at <%= mail_to "alikfitz@gmail.com" %></h3>
</div>

<div class="about">
<p> If you'd like to donate to the project: </p>
<%= render 'charges/form' %>
</div>