<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1 id="about-headline"> About Ghostwrite.io </h1>
			<title><div class="about"></title>  
			<p>  Ghostwrite.io is the app that helps you write difficult messages, like cover letters and networking emails, or edit and proofread your big application.</p>

			<br>

			<p>Write a better cover letter in less time. Generate a sympathy note you'd otherwise be uncertain about sending. Learn how to write a networking email. Ghostwrite.io guides you step by step, and you have a finished product after answering just a few questions.  </p>
			<br>
			 
			<br>

			<p>Ghostwrite.io's mission is to make communication easier. You can enhance both personal relationships and professional interactions with Ghostwrite.io.</p>
			<br>

			<p> Say what you mean. Ghostwrite.io will pull out the best in you, so you can communicate better.</p>
			<br>

			<p>This product is in development - please forward any feedback.</p> 
			<br>

			<p>Contact me at <%= mail_to "alikfitz@gmail.com" %></p>

			<br>
			<br>
			<p> If you'd like to donate to the project: 
			<%= render 'charges/form' %></p>
			</div>
		</div>
	</div>
</div>