<h1> About Ghostwrite.io </h1>
<div class="embed-container">  
<%= embed(product.youtube_url) %> 
<iframe width="560" height="315" src="//http://youtu.be/_ZfFO1uAQlU" frameborder="0" allowfullscreen></iframe> 
</div>