 

 <div class="container">
      <div class="row">
        <ul class="button-list">
          <li class="fixed">
          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                </div>
               </div>
            <div class="btn-cover">
            <a href="business"><span class="tie-png" id="business"></span></a>
           </div>
           </div>
          </div>
         </li>
         <li> <p id="business_description">Business</p>
         </li>
          
          <li class="fixed">
            <div class='btn-indent'>
             <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <a href="personal"><span class="heart-png" id="personal"></span></a>
           </div>
           </div>
          </div>
        </li>
           <li> <p id="personal_description">Personal</p></li>
        <li class="fixed">
            <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                </div>
               </div>
            <div class="btn-cover">
            <a href="custom"><span class="ghost-png" id="custom"></span></a>
           </div>
           </div>
          </div>
        </li>
        <li> <p id="custom_description">Custom</p></li>
     <ul>

    </div>
   </div>

  </div>

 