 

 <div class="container">
      <div class="row">
        <ul class="button-list">
          <li class="fixed">
          <a href="business">
              <div class="btn">
               <span class="tie-png" id="business"><i class="fa fa-briefcase fa-3x"></i></span>
              </div>
           </a>
         </li>
           <div class="descriptions"><li> <p id="business_description">Business</p></li></div>
          <li class="fixed">
            <a href="personal">
               <div class="btn">
                <span class="heart-png" id="personal"><i class="fa fa-heart fa-3x"></i></span>
              </div>
            </a>
          </li>
           <div class="descriptions"><li><p id="personal_description">Personal</p></li></div>
          <li class="fixed">
          <a href="custom">
               <div class="btn">
                <span class="ghost-png" id="custom"><%= image_tag "ghostgirl.svg" %></span>
               </div>
          </a>
          </li> 
          <div class="descriptions"><li><p id="custom_description">Custom</p></li></div>  
       </ul>
    </div>
 </div>

 