 

 <div class="container">
      <div class="row">
        <ul class="button-list">
          <li class="fixed">
          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                </div>
               </div>
            <div class="btn-cover">
            <a href="business"><span class="tie-png" id="business"><%=image_tag "tie-smaller.png" %></span></a>
           </div>
           </div>
          </div>
        </li>
           <div class="descriptions"><li> <p id="business_description">Business</p></li></div>
          <li class="fixed">
            <div class='btn-indent'>
             <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                </div>
               </div>
            <div class="btn-cover">
            <a href="personal"><span class="heart-png" id="personal"><%= image_tag "Heart.png" %></span></a>
           </div>
           </div>
          </div>
        </li>
           <div class="descriptions"><li><p id="personal_description">Personal</p></li></div>
        <li class="fixed">
            <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                </div>
               </div>
            <div class="btn-cover">
            <a href="ghostwrites"><span class="ghost-png" id="custom"><%= image_tag "ghost.png" %></span></a>
           </div>
           </div>
          </div>
          </li> 
          <div class="descriptions"><li> <p id="custom_description">Custom</p></li></div>  
     <ul>
   </div>

  </div>

 