 

 <div class="container">
      <div class="row">
        <ul class="button-list">
          <li class="fixed">
          <div class="btn">
            <a href="business"><span class="tie-png" id="business"><i class="fa fa-briefcase fa-3x"></i></span></a>
           </div>
        </li>
           <div class="descriptions"><li> <p id="business_description">Business</p></li></div>
          <li class="fixed">
               <div class="btn">
                <a href="personal"><span class="heart-png" id="personal"><i class="fa fa-heart fa-3x"></i></span></a>
              </div>
        </li>
           <div class="descriptions"><li><p id="personal_description">Personal</p></li></div>
        <li class="fixed">
               <div class="btn">
            <div class="btn-cover">
             <a href="custom"><span class="ghost-png" id="custom"><%= image_tag "ghostgirl.svg" %></span></a>
           </div>
          </li> 
          <div class="descriptions"><li> <p id="custom_description">Custom</p></li></div>  
     <ul>
   </div>

  </div>

 