<div class="container">
    <div class="row">
      <div class= ".col-md-8">

        <ul class="first-row">
          <li>
          <div class="btn-span"> Cover Letter </div>
        </li>
        <li>
          <div class="btn-span"> Networking </div>
        </li>
        <li>
          <div class="btn-span"> Thank You Note </div>
        </li>
        <li>
         <a href="custom"> <div class="btn-span"> Custom </div></a>
        </li>
          <ul>
          </div>
        </div>
      </div>




<%= link_to 'Back', :back %>

