<h1 style="text-align:center;">Just To Be Social - Ghostwrite Quizzes! </h1>
<h3 style="text-align:center;"><a class="typeform-share link" href="https://ghostwriteio.typeform.com/to/hLvwRB" data-mode="1" target="_blank">Which SNL Cast Member are you?</a></h3>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
</script>

<h3 style="text-align:center;"><a class="typeform-share link" href="https://ghostwriteio.typeform.com/to/krGUdz" data-mode="1" target="_blank">Which 2014-2015 Patriot are you?</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script></h3>


