

 <div class= 'ghostwrite_body'>
    <div class = "instructions">
      <li><%= image_tag "logo2.png", class: "logo-img-all"%></li>
      <span class = "element"></span>
    </div>
      
      </div> 
    <div class="container">
    	<div class="row">
    		<div class="span8 offset2">
      
      <div class="button_body">

            <ul>
              <li id="name">name</li>
              <li>
                <a href="#" class="pop_business" rel="wrapper"> <button class="button_main">business</button>
                </a>
              </li>
              <li>
               <a href="#" class="pop_personal" rel="wrapper"><button class="button_main">personal</button>
                </a>
              </li>
              <li>
               <a href="#modal_custom"><button class="button_main">custom</button>
               </a>
              </li>
            </ul>
          
          </div>
         </div>
        <div> 
   	<div>
        
           