
 
 <div class= 'ghostwrite_body'>
    <div class = "instructions">
      <li><%= image_tag "logo2.png", class: "logo-img-all"%></li>
      <span class = "element"></span>
    </div>
    <div class="container">
      <div class="row">
        <ul class="button-list">
          <li>
          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <a href="static_pages/business"><span class="tie-png"></span></a>
           </div>
           </div>
          </div>
        </li>
          <li>

          <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <span class="btn-span">Personal</span>
           </div>
           </div>
          </div>
        </li>

        <li>
            <div class='btn-indent'>
            <div class='btn-mask'>
               <div class="btn">
                <div class="btn-widget">
                <a href="https://twitter.com" class="twitter-share-button">Tweet</a>
                </div>
               </div>
            <div class="btn-cover">
            <span class="btn-span">&nbspCustom</span>
           </div>
           </div>
          </div>
        </li>
     <ul>

    </div>
   </div>

  </div>


        
           