<div class="modal fade" id="sign_in_modal_user">
<div class="modal-dialog">
    <div class="modal-content">
 
	<%= @form %>

</div>
    
    <div class="modal-footer">
     <button type="button" class="btn btn-warning pull-left" data-dismiss="modal" data-toggle="modal" data-target="#sign_up_modal_user">Sign Up?</button>
     <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
       

   </div>
 </div>
</div>
