<div class="jumbotron">	
	<body>
		<div>
		<%= image_tag "trees.jpg", class: "background-img"%>
		<ul class="list">
			<li><%= image_tag "logo2.png", class: "logo-img"%></li>
			<li><%= image_tag "writing.png", class: "font"%></li>
			<li><a href="begin" id="button" data-transition="slide"><%=image_tag "down-arrow.png" %></a></li>
		</ul>

		

		
		</div>
	</body>
</div>	



<footer>
	
</footer>

