<div class="container">
	 <div class="row">
 		<div class="col-xs-8">
		 		<%= form_tag '#' do %>
		      	<%= bootsy_area 'post', 'content', value: demo_value, class: 'form-control', rows: 12 %>
		    	<% end %>
    	</div>
    	<div class="col-xs-4">
    		<h2 class="handwriting">edit message here</h2>
    		<i class="fa fa-caret-square-o-left fa-3x"></i>
    	</div>
	</div>
</div>