<span id="inputDiv"><span>
			 	  <div id="originHint"><p> Did you read about it online? What Website? Did you hear about it from a friend? How do you know each other? Remember to be specific!</p> </div>
			 	  <div id="oneWordHint" style="display:none;"><p> Ex. "Driven", "Low Maintenance", "Loyal"</p></div>
			 	  <div id="lastJobHint" style="display:none;"><p> If it wasn't relevant, Is there a class, volunteering or other experience that connects to this job?</p></div>
			 	   <div id="positionHint" style="display:none;"><p> Make sure you write the exact title, both here and in the subject line of the e-mail.</p></div>
			 	  <div id="interestHint" style="display:none;"><p> Google the company and check on their mission statement</p></div>
			 	  <div id="skillHint" style="display:none;"><p> Do you know MSWord? Excel? Do you speak two languages? Do you have advanced skills? Programming?</p></div>