
<div class="letter">
	Dear <span id="companyDiv"></span> Team,
	</br>
	</br>

	I’m interested in applying for the <span id="positionDiv"></span>position. I heard about the position <span id="originDiv"></span>and think my past experience as <span id="lastJobDiv"></span> makes me a great candidate. I have <span id="skill1"></span> and <span id="skill2"></span>and have a lot of interest in <span id="interestDiv"></span>. 
	<br>

	I am <span id="oneWordDiv"></span>, and very excited about <span id="company"></span>and what I can contribute as <span id="positionDiv"></span>.  

	<br>

	Thank you for taking the time to consider this application and I look forward to learning more about the position. I will follow up next week to confirm you've received my application. 
	<br>

	Thank you,
	<br>
	<% if user_signed_in? %> 
	<%= current_user.full_name %>

	<% end %>

</div>


