<div class="questions">
Hello<span class="span_class"></span>

I’m interested in the <span id="32"></span> position. I heard about the position <span id="25"></span> and think my past experience as <span id="26"></span>  makes me a great candidate. 

I am <span id="27"></span>, and very interested in learning more about <span id="31"></span> and what I can contribute as <span id="32"></span>. I look forward to speaking with you. 

Thank you,
<% if user_signed_in? %> 
<%= current_user.full_name %>

<% end %>

</div>
