<div class="questions-cover">
Hi <%= @letter.properties["their_name"] %>,
<br>
<br>
Thank you so much for taking the time to <%= @letter.properties["thanks"] %>. I've been thinking about <%= @letter.properties["remember"] %>. I hope we will be in touch soon! 

<br>
<br>
Thanks again, 

<br>
<% if user_signed_in? %> 
<%= current_user.full_name %>


<% end %>

</div>