   <body>

   
  <%= render 'cover_letter' %>

  	<% if @letter.photo.file? %>
    <div id='photo'><%= link_to 'My PDF', @letter.photo.url %></div>
    <% else %>
    
    <% end %>

  

   
 
</body>

