<body>

<% if @letter.letter_type.name = "cover letter" %>
   
  <%= render 'cover_letter' %>

<% elsif @letter.letter_type.name = "networking" %>

  <%= render 'networking' %>

<% elsif @letter.letter_type.name = "thank you note" %>

  <%= render 'thank_you' %>

 <% else %>

  	<% render 'form' %>

 <% end %>

  	<% if @letter.photo.file? %>
    <div id='photo'><%= link_to 'My PDF', @letter.photo.url %></div>
    <% else %>
    
    <% end %>

  

   
 
</body>

