<body class="backend">
	<h1> HELLO FRIEND <h1>
<% @letter.each do |letter| %>
<div class= "letter">
	
</div>
<% end %>

<%= form_tag new_type_of_letter_path, method: :get do %>
  <%= select_tag :type_of_letter_id, 
  options_from_collection_for_select(KindOfLetter.all, :id, :kind_of_letter) %>
  <%= submit_tag "New Letter", name:nil %>
  <% end %>  
</body>