


<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
<h2 class= "header_text"></h2>
  <div class="fieldset"> 	

  	 
  
	<%= render 'form' %>

<div class="contsnextprev"><span class="prev floatleft">&lt;</span> <span class="next floatright">&gt;</span></div>
<div class="green">
  <%= f.submit %>
</div>



	</div>		

	<% end %>
	<div>
		
		
		
		
		
	</div>




  

  