


<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
<h2 class= "header_text"></h2>
  <div class="fieldset"> 	

  
	<%= render 'form' %>

<div class="contsnextprev"><span class="next floatright">Continue <i class="fa fa-angle-double-right fa-3x"></i></span></div>
<div class="contsnextprev" style="display:none;"><span class="prev floatleft">Back <i class="fa fa-angle-double-left fa-3x"></i></span></div>

<div class="green">
  <%= f.submit %>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
    <span class="sr-only">40% Complete (success)</span>
  </div>
</div>



	</div>		

	<% end %>
	<div>
		
		
		
		
		
	</div>




  

  