


<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
<h2 class= "header_text"></h2>
  <div class="fieldset"> 	

  	 
  
	<%= render 'form' %>

	



	</div>		

	<% end %>
	<div>
		<%= button_to "Next", { :class => "next action-button" }, remote: true %>
		
		
		
		
	</div>




  

  