
<div class="backend">

<%= simple_form_for(@letter, :html => { class: "form-horizontal", :multipart => true }) do |f| %>
<h2 class= "header_text"></h2>
  <fieldset class="fieldset"> 	

  	 
  
	<%= render 'form' %>

	<%= f.submit %> </br>

	

	</div>		

	<% end %>




  

  