<!-- Modal -->
<div id="ajax-modal" class="modal hide fade" tabindex="-1">
  <div class='modal-header'>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-title">Log In</h3>
  </div>
  <div class='modal-body'>
    <div class="modal-body-content">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :defaults => { :input_html => { :class => "text" }}) do |f| %>

           <%= f.input :email, label: false, placeholder: "Email" %>

          
           <%= f.input :password, autocomplete: "off", label: false, placeholder: "Password" %>

       

          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
           <i class="fa fa-lock"></i> 
          <% end %>   


              


        
         
        <% end %>
     </div>
   </div>
 </div>
         