
<span id="inputDiv"><span>
	<div id="commonGroundHint" data-id="commonGroundHint" style="display:none;"><p>Did you go to the same college? Have a mutual friend?</p>
	</div>
	<div id="reasonHint" style="display:none;"><p>Did someone suggest you reach out? Who? <br> Did you meet at an event? Reference that. </p>
	</div>
	<div id="admireHint" style="display:none;"><p>Think about why you're sending them this message. Is it because they're well known in their field? Or have always been helpful to a friend of yours?</p>
	</div>
	<div id="backgroundHint" style="display:none;"><p>Let them know a little about you. Are you a student? Are you working and looking to find a new job? Go back to school? Switch industries?</p>
	</div>