/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";


body {
	width: 100%;
	height: 100%;
	background-color: #EBEBEB; 
}

body {
	font-family: 'Raleway', sans-serif;
	color: #0AE8B3;
	font-size: 1.6em; 
}

/******* simple form styles *******/

 label {
    display: none;
    }


.simple_form div.controls {
  margin-left: 0px;
  clear: both; /* Required for Webkit, but not for Gecko */
  padding-top: 10px; 
}

input {
	color: white;
	background-color: #0AE8B3;
	font-family: 'Raleway'; 
	font-size: 1em; 
	border: none;
	padding: 20px;  
}


 div.boolean, .simple_form input {
  background-color: #333333;
  border: none;
}
  div.boolean, .simple_form input[type='submit'] {
  color: white;
}


.ghostwrite_body {
list-style: none; 
position: absolute;
width: auto;
height: 1000px;
text-align: center;
padding: 40px; 
z-index: 1;
background-color: #EBEBEB;

}

.ghostwrite {
	margin: 10%;
	padding: 20px;  
}

 .logo-img-all {
 	width: 33%;
 	padding-bottom: -10px; 
 	 
 
 }

 .element {
 	margin-bottom: 40px; 
 }

 #wrap {
 	padding-top: 60px; 
 }

.navbar-text {
	font-size: 0.7em; 
	list-style: none; 
}

.nav {
	font-size: 0.7em; 
	
}


i {
	font-size: .5em; 
}



.instructions {
	margin-bottom: 40px; 
	font-weight: bold; 
}

.form_body {
	padding-top: 40px;
	z-index: 1; 

}

.header_text {
	text-align: center; 
	font-weight: bold;
}

.fieldset {
	text-align: left;
	margin-left: 15%;   
}

.element_name {
	color: black;
	float: right;
	margin-right: 20%; 
	z-index: 1; 
	
}


.descriptions {
	position: absolute;
	margin-top: none; 
}

.backend {
	padding-top: 40px; 
	background-color: #EBEBEB;
}

.questions {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt; 
	margin-left: 15%; 
}

.questions h1 {
	text-align: left;
	margin-left: 10%; 
	margin-bottom: 5%; 
	margin-top: -20px; 
}

.letter_text {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt; 
}

.questions-cover {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt;
	text-align: left; 
	box-shadow: 10px 10px 5px #888888;
	background-color: white; 
	padding: 30px;
	margin-left: 100px; 
	margin-right: 100px; 
}


#pdf {
	padding: 10px; 
	background-color: none;
	padding: 20px;
}




  #ghostwrite_text_box {
  	width: 50%;
  	height: 400px;
  }

.about {
	float: left; 
	line-height: 1.2em; 
	color: black;
	text-align: left; 
	font-family: 'Merriweather', serif;
	font-size: 0.8em;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 20px; 
	box-shadow: 10px 10px 5px #888888;
	background-color: white; 
	padding: 30px;
	margin-left: 100px; 
	margin-right: 100px; 
	margin-bottom: 10%;
}


.payment {
	margin: 10%; 
}

#about-headline {
	font-family: 'Raleway', serif;
}

.text {
	width: 70%;
}

.modal-body  {
	background-color: #ACACAC; 
}

.modal-header {
	background-color: #ACACAC; 
	border:none;
}

.first-column {
  width: 70%;
  float: left;
  margin-left: 30px;
}

.second-column {
  width: 40%;
  float: right;
  position: relative;
  margin-top: -20%;
  margin-left: 10px;
}

.modal-title {
	color: white; 
	font-family: 'Raleway';
}

span.add-on {
	color: white;
	
}

.input-append span.add-on {
	background-color: #333333;
	border: none;

}


























