/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
	width: 100%;
	height: 100%;
	background-color: #EBEBEB; 
}

body {
	font-family: 'Raleway', sans-serif;
	color: #0AE8B3;
	font-size: 1.6em;
	font-weight: lighter; 
}


.ghostwrite_body {
list-style: none; 
position: absolute;
width: auto;
height: 1000px;
text-align: center;
padding: 40px; 
z-index: 1;
background-color: #EBEBEB;

}

.ghostwrite {
	margin: 10%;
	padding: 20px;  
}

 .logo-img-all {
 	width: 33%;
 	padding-bottom: -10px; 
 	 
 
 }

 .element {
 	margin-bottom: 40px; 
 }

 #wrap {
 	padding-top: 60px; 
 }

.navbar-text {
	font-size: 0.7em; 
	list-style: none; 
}

.nav {
	font-size: 0.7em; 
	
}


i {
	font-size: .5em; 
}



.instructions {
	margin-bottom: 40px; 
	font-weight: bold; 
}

.form_body {
	padding-top: 40px;
	z-index: 1; 

}

.header_text {
	text-align: center; 
	font-weight: bold;
}

.fieldset {
	text-align: left;
	margin-left: 15%;   
}

.element_name {
	color: black;
	float: right;
	margin-right: 20%; 
	z-index: 1; 
	
}


.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 2px 10px;
  font-weight: bold; 
}

.descriptions {
	position: absolute;
	margin-top: none; 
}

.backend {
	padding-top: 40px; 
	background-color: #EBEBEB;
}

.questions {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt; 
	margin-left: 15%; 
}

.questions h1 {
	text-align: left;
	margin-left: 10%; 
	margin-bottom: 5%; 
	margin-top: -20px; 
}

.letter_text {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt; 
}

.questions-cover {
	font-family: 'Merriweather', serif;
	font-weight: light; 
	color: black;
	font-size: 12pt;
	text-align: left; 
	box-shadow: 10px 10px 5px #888888;
	background-color: white; 
	padding: 30px;
	margin-left: 100px; 
	margin-right: 100px; 
}

.simple_form div.controls {
  margin-left: 0px;
  clear: both; /* Required for Webkit, but not for Gecko */
  padding-top: 10px; 
}

input {
	color: white;
	background-color: #0AE8B3;
	font-family: 'Raleway'; 
	font-size: 1em; 
	border: none;
	padding: 20px;  
}

#pdf {
	padding: 10px; 
	background-color: none;
	padding: 20px;
}


 .simple_form
  div.input {
  	width: 800px; 
  }

  #ghostwrite_text_box {
  	width: 50%;
  	height: 400px;
  }

.about {
	float: left; 
	line-height: 1.2em; 
	color: black;
	text-align: left; 
	font-family: 'Merriweather', serif;
	font-size: 0.8em;
}


























