/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
	width: 100%;
	height: 100%; 
	background-color: #525252;
}

.ghostwrite {
	background: url('/assets/linedpaper.png') no-repeat center; 
	opacity: 0.4;
	background-color: #525252;
	background-size: 95%; 
}

body {
	
	font-family: 'Raleway Dots', cursive;
	color: #0AE8B3;
	font-size: 1.6em;
}


.ghostwrite_body {
display: table;
list-style: none; 
position: relative;
width: 100%;
height: 100%;
text-align: center;
padding: 40px; 
opacity: 1;


}

.ghostwrite {
	margin: 10%;
	padding: 20px;  
}

 .logo-img-all {
 	width: 33%;
 	padding-bottom: -10px; 
 }

 .element {
 	margin-bottom: 40px; 
 }

 #wrap {
 	padding-top: 60px; 
 }

.navbar-text {
	font-size: 0.7em; 
	list-style: none; 
}

.nav {
	font-size: 0.7em; 
	
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.form_body {
	padding-top: 45px; 
	margin-left: 42%;
}

.button_body {

	font-family: 'Delius Unicase', cursive;
}


.header_text {
	font-family: 'Delius Unicase', cursive;
	padding-bottom: 10px; 
}

i {
	font-size: .5em; 
}














