


.tie-png {
  display: block; 
  height: 41px; 
  width: 121px; 
  position: absolute; 
  top: 0; 
  background-image: no-repeat center; 
}

.heart-png {
  display: block; 
  height: 41px; 
  width: 121px; 
  position: absolute; 
  top: 0; 
  background: no-repeat center; 
}

.ghost-png {
  display: block; 
  height: 42px; 
  width: 126px; 
  position: absolute; 
  top: 0; 
  background: no-repeat center; 
}












