// Place all the styles related to the ghostwrites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ghostwrite {
	border-bottom: dotted 1px #CCC;
	padding: 5px 0;  
}

.ghostwrite p {
	margin: 4px 0; 
}

.ghostwrite.hover {
	background: #FAFAFA; 
}

.ghostwrite .admin {
	display: none; 
}

.ghostwrite.hover .admin {
	display: inline; 
}