// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .button-list {

	width: 300px;
	margin-left: 40%;
}


.first-row li {
	padding-bottom: 25px; 
}

.second-row li {
	padding-bottom: 25px;
}



.first-row {
	float: left;
	margin-left: 30%; 
	font-size: .8em; 
	text-align: center

}

.second-row {
	float: right;
	margin-right: 30%; 
	font-size: .8em; 
	text-align: center;
}

.button-list li {
	margin: 30px; 
	list-style: none; 
	
}

.instructions {
	margin-bottom: 40px; 
	font-weight: bold;
	color: black; 
}

.btn-span {
	font-family: 'Open Sans', sans-serif;
	color: white;

}




